extends ../_shared/root-layout

block body

	div.container
		div.row
			div.col-md-4.col-md-offset-4
				div.login-panel.panel.panel-default
					div.panel-heading
						h3.panel-title Please Log In

					div.panel-body
						form(action = '/auth/login', method = 'post')
							fieldset
								div.form-group
									input.form-control(placeholder = 'Email', name = 'username', type = 'email', value = locals.messages.data.username || '')

								div.form-group
									input.form-control(placeholder = 'Password', name = 'password', type = 'password')

								div.form-group
									button.btn.btn-success
										i.fa.fa-key
										| &nbsp;&nbsp;
										| Login
