extends ../_shared/root-layout

block variables
	- bodyClass = 'login'

block body

	div
		div.login_wrapper
			div.form.login_form
				section.login_content
					form(action = '/auth/login', method = 'post')
						h1 Login

						div: input.form-control(placeholder = 'Email', name = 'username', type = 'email', value = locals.messages.data.username || '')

						div: input.form-control(placeholder = 'Password', name = 'password', type = 'password')

						div: button.btn.btn-default
							i.fa.fa-key
							| &nbsp;&nbsp;
							| Login
