- active = _.activePage || 'none'

div.menu_section
	h3 General
	ul.nav.side-menu

		li(class = (active == 'dashboard' ? 'active' : '')): a(href = '/')
			i.fa.fa-fw.fa-dashboard
			| Dashboard

		li(class = (active == 'transactions' ? 'active' : '')): a(href = '/transactions')
			i.fa.fa-fw.fa-table
			| Transactions

div.menu_section
	h3 Reports
	ul.nav.side-menu

		li(class = (active == 'reports-balance-history' ? 'active' : '')): a(href = '/reports/balance-history')
			i.fa.fa-fw.fa-line-chart
			| Balance History

div.menu_section
	h3 Settings
	ul.nav.side-menu

		li(class = (active == 'settings-accounts' ? 'active' : '')): a(href = '/settings/accounts')
			i.fa.fa-fw.fa-institution
			| Accounts

		li(class = (active == 'settings-budgets' ? 'active' : '')): a(href = '/settings/budgets')
			i.fa.fa-fw.fa-sliders
			| Budgets

		li(class = (active == 'settings-categories' ? 'active' : '')): a(href = '/settings/categories')
			i.fa.fa-fw.fa-tags
			| Categories
