extends root-layout

block head
	block page-head

block body

	div.container.body
		div.main_container

			div.col-md-3.left_col
				div.left_col.scroll-view

					div.navbar.nav_title
						a.site_title(href = '/')
							i.fa.fa-fw.fa-gbp
							| &nbsp;
							span Money Dashboard

					div.clearfix

					br

					div#sidebar-menu.main_menu_side.hidden-print.main_menu
						include navigation

			div.top_nav: div.nav_menu: nav
				div.nav.toggle: a#menu_toggle: i.fa.fa-bars
				ul.nav.navbar-nav.navbar-right
					li.dropdown
						a.user-profile.dropdown-toggle(data-toggle = 'dropdown', href = 'javascript:;')
							img(src = '//www.gravatar.com/avatar/' + locals.user.emailHash + '?r=pg&d=identicon')
							= locals.user.first_name + ' ' + locals.user.last_name
							i.fa.fa-fw.fa-angle-down

						ul.dropdown-menu.pull-right
							li: a(href = '/users/profile')
								i.fa.fa-fw.fa-user.title-icon
								| Your Profile
							li: a(href = '/auth/logout')
								i.fa.fa-fw.fa-sign-out.title-icon
								| Logout

			div.right_col(style = 'min-height: 425px;')
				div.container-fluid
					if (!_.noTitle)
						div.page-title
							div.title_left
								h3= _.title
							div.title_right
								block page-title-extra
						div.clearfix

					block page-body

block scripts

	script.
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
	block page-scripts
