include ../_mixins/plugins

block variables

- locals.messages.data = locals.messages.data || {}

doctype html
html
	head
		if title == null
			title Money Dashboard
		else
			title #{_.title} :: Money Dashboard
		link(rel = 'stylesheet', href = '/_vendor/bootstrap/css/bootstrap.min.css')
		link(rel = 'stylesheet', href = '/_vendor/bootstrap-progressbar/bootstrap-progressbar.min.css')
		link(rel = 'stylesheet', href = '/_vendor/jquery-ui/jquery-ui.min.css')
		link(rel = 'stylesheet', href = '/_vendor/gentelella/custom.min.css')
		link(rel = 'stylesheet', href = '/_vendor/font-awesome/css/font-awesome.min.css')
		link(rel = 'stylesheet', href = '/_vendor/toastr/toastr.min.css')
		link(rel = 'stylesheet', href = '/_shared/tweaks.css')
		meta(name = 'viewport', content = 'width=device-width, initial-scale=1')
		block head

	body(class = bodyClass || 'nav-md')

		block body

		script(src = '/_vendor/jquery/jquery.min.js')
		script(src = '/_vendor/jquery-ui/jquery-ui.min.js')
		script(src = '/_vendor/bootstrap/js/bootstrap.min.js')
		script(src = '/_vendor/bootstrap-progressbar/bootstrap-progressbar.min.js')
		script(src = '/_vendor/toastr/toastr.min.js')
		script(src = '/_vendor/gentelella/custom.min.js')
		+plugin_toastrListener(_)

		script(src = '/_shared/formatters.js')
		block scripts
