include ../_mixins/plugins

block variables

- locals.messages.data = locals.messages.data || {}

doctype html
html
	head
		if title == null
			title Money Dashboard
		else
			title #{_.title} :: Money Dashboard
		link(rel = 'stylesheet', href = '/_vendor/bootstrap/css/bootstrap.min.css')
		link(rel = 'stylesheet', href = '/_vendor/bootstrap-progressbar/css/bootstrap-progressbar.min.css')
		link(rel = 'stylesheet', href = '/_vendor/jquery-ui/css/jquery-ui.min.css')
		link(rel = 'stylesheet', href = '/_vendor/gentelella/css/custom.min.css')
		link(rel = 'stylesheet', href = '/_vendor/font-awesome/css/font-awesome.min.css')
		link(rel = 'stylesheet', href = '/_vendor/toastr/css/toastr.min.css')
		link(rel = 'stylesheet', href = '/_shared/css/tweaks.css')
		block head

	body(class = bodyClass || 'nav-md')

		block body

		script(src = '/_vendor/jquery/js/jquery.min.js')
		script(src = '/_vendor/jquery-ui/js/jquery-ui.min.js')
		script(src = '/_vendor/bootstrap/js/bootstrap.min.js')
		script(src = '/_vendor/bootstrap-progressbar/js/bootstrap-progressbar.min.js')
		script(src = '/_vendor/toastr/js/toastr.min.js')
		script(src = '/_vendor/toastr/js/toastr.config.js')
		script(src = '/_vendor/gentelella/js/custom.min.js')
		+plugin_toastrListener(_)

		script(src = '/_shared/js/formatters.js')
		block scripts
