extends ../_shared/page-layout

block page-body

	div.row
		div.col-xs-12.col-md-8
			include module-budgets-and-bills

		div.col-xs-12.col-md-4
			include module-alerts
			include module-balances
			include module-summary
