extends ../_shared/page-layout

block page-body

	div.row
		div.col-lg-8.col-md-8.col-sm-12.col-xs-12
			include module-budgets-and-bills

		div.col-lg-4.col-md-4.col-sm-12.col-xs-12
			include module-alerts
			include module-balances
			include module-summary
