div.x_panel
	div.x_title
		h2
			i.fa.fa-fw.fa-bank.text-muted.title-icon
			| Account Balances
		div.clearfix

	div.x_content
		- var sum = 0
		- var empty = true
		- var groups = { 'current': [], 'savings': [], 'asset': [] }
		- var groupTitles = { 'current': 'Current Accounts', 'savings': 'Savings Accounts', 'asset': 'Assets' }
		for a in accountBalances
			if a.balance != 0
				- sum += a.balance
				- empty = false
				- groups[a.account_type].push(a)

		- firstGroup = true
		for group in ['current', 'savings', 'asset']
			if (groups[group].length > 0)
				h4(class = firstGroup ? '' : 'gap')= groupTitles[group]
				for a in groups[group]
					p
						=a.account_name
						span.pull-right= formatters.formatCurrency(a.balance)
				- firstGroup = false

		if (empty)
			p: i No accounts
		div.hr: hr
		p
			strong Total
			strong.pull-right= formatters.formatCurrency(sum)
