mixin row(label, value)
	p(style = 'margin-left: 20px')
		=label
		span.pull-right= formatters.formatCurrency(value)

div.panel.panel-default
	div.panel-heading
		i.fa.fa-fw.fa-exchange.text-muted.title-icon
		| Month Summary

	div.panel-body
		div.row: div.col-md-12


			h4 Income
			- blank = true

			for row in summaryData['income']
				- blank = false
				+row(row['categoryName'], row['balance'])

			if (summaryData['allIn'] != 0)
				+row('Other income', summaryData['allIn'])

			if (blank)
				p.text-muted: i No income


			h4 Expense
			- blank = true

			for row in summaryData['expense']
				- blank = false
				+row(row['categoryName'], row['balance'])

			if (summaryData['allOut'] != 0)
				+row('Other expenses', summaryData['allOut'])

			if (blank)
				p.text-muted: i No expenses


			div.hr: hr


			+row('Total', summaryData['total'])
