- allBudgets = budgets.budgets || {}
- monthBudgets = allBudgets['month'] || []
- yearBudgets = allBudgets['year'] || []
- taxYearBudgets = allBudgets['tax-year'] || []
- otherBudgets = allBudgets['other'] || []

- allBills = budgets.bills || {}
- monthBills = allBills['month'] || []
- yearBills = allBills['year'] || []
- taxYearBills = allBills['tax-year'] || []
- otherBills = allBills['other'] || []

- warningRatio = locals.user.settings['over_budget_warning_ratio']

mixin bar(b, showDate)
	- name = b['name']
	- type = b['type']
	- spend = b['spend']
	- amount = b['amount']
	- startDate = b['start_date']
	- endDate = b['end_date']
	- ratio = spend/amount
	- width = ratio <= 0 ? '1px' : (Math.min(ratio, 1) * 100) + '%'
	- title = 'Spent ' + formatters.formatCurrency(spend) + ' of ' + formatters.formatCurrency(amount)

	// determine bar class
	if (ratio <= 1)
		- barClass = type == 'budget' ? 'info' : 'success'
	else if (ratio <= warningRatio)
		- barClass = 'warning'
	else
		- barClass = 'danger'

	// determine message
	if (type == 'budget')
		if (ratio > 1)
			- content = 'Overspent by ' + formatters.formatCurrency(spend - amount)
		else
			- content = ''
	else
		- content = ratio > 0 ? 'Paid ' + formatters.formatCurrency(spend) : ''
		if (ratio > 1)
			- content += ' (' + formatters.formatCurrency(spend - amount) + ' over budget)'

	// build content
	div.col-xs-12.col-sm-6.col-md-4
		p(style = 'margin-bottom: 4px;')
			strong= name
			if (showDate)
				span &nbsp;&nbsp;
				span.text-muted.small= formatters.formatBudgetSpan(startDate, endDate)
		div.progress(title = title, style = 'margin-bottom: 14px;')
			div.progress-bar(class = 'progress-bar-' + barClass, style = 'width: ' + width)= content


if (monthBudgets.length || monthBills.length)
	- first = monthBudgets[0] || monthBills[0]
	div.x_panel
		div.x_title
			h2
				i.fa.fa-fw.fa-pie-chart.text-muted.title-icon
				=formatters.formatBudgetSpan(first.start_date, first.end_date)
			div.clearfix
		div.x_content
			if (monthBudgets.length)
				div.row: for b in monthBudgets
					+bar(b)

			if (monthBudgets.length && monthBills.length)
				div.hr: hr

			if (monthBills.length)
				div.row: for b in monthBills
					+bar(b)


if (yearBudgets.length || yearBills.length)
	- first = yearBudgets[0] || yearBills[0]
	div.x_panel
		div.x_title
			h2
				i.fa.fa-fw.fa-pie-chart.text-muted.title-icon
				=formatters.formatBudgetSpan(first.start_date, first.end_date)
			div.clearfix
		div.x_content
			if (yearBudgets.length)
				div.row: for b in yearBudgets
					+bar(b)

			if (yearBudgets.length && yearBills.length)
				div.hr: hr

			if (yearBills.length)
				div.row: for b in yearBills
					+bar(b)


if (taxYearBudgets.length || taxYearBills.length)
	- first = taxYearBudgets[0] || taxYearBills[0]
	div.x_panel
		div.x_title
			h2
				i.fa.fa-fw.fa-pie-chart.text-muted.title-icon
				=formatters.formatBudgetSpan(first.start_date, first.end_date)
			div.clearfix
		div.x_content
			if (taxYearBudgets.length)
				div.row: for b in taxYearBudgets
					+bar(b)

			if (taxYearBudgets.length && taxYearBills.length)
				div.hr: hr

			if (taxYearBills.length)
				div.row: for b in taxYearBills
					+bar(b)


if (otherBudgets.length || otherBills.length)
	div.x_panel
		div.x_title
			h2
				i.fa.fa-fw.fa-pie-chart.text-muted.title-icon
				| Other Periods
			div.clearfix
		div.x_content
			if (otherBudgets.length)
				div.row: for b in otherBudgets
					+bar(b, true)

			if (otherBudgets.length && otherBills.length)
				div.hr: hr

			if (otherBills.length)
				div.row: for b in otherBills
					+bar(b, true)
