- allBudgets = budgets.budgets || {}
- monthBudgets = allBudgets['month'] || []
- yearBudgets = allBudgets['year'] || []
- taxYearBudgets = allBudgets['tax-year'] || []
- otherBudgets = allBudgets['other'] || []

- allBills = budgets.bills || {}
- monthBills = allBills['month'] || []
- yearBills = allBills['year'] || []
- taxYearBills = allBills['tax-year'] || []
- otherBills = allBills['other'] || []


mixin bar(b, showDate)
	- ratio = b.spend/b.amount
	- width = ratio <= 0 ? '1px' : (Math.min(ratio, 1) * 100) + '%'
	- barClass = ratio <= 1 ? 'progress-bar progress-bar-success' : 'progress-bar progress-bar-danger'
	- content = ratio <= 1 ? '' : 'Overspent by ' + formatters.formatCurrency(b.spend - b.amount)
	- title = 'Spent ' + formatters.formatCurrency(b.spend) + ' of ' + formatters.formatCurrency(b.amount)
	div.col-lg-4.col-md-4.col-sm-6.col-xs-6
		p(style = 'margin-bottom: 4px;')
			strong= b.name
			if (showDate)
				span &nbsp;&nbsp;
				span.text-muted.small= formatters.formatBudgetSpan(b.start_date, b.end_date)
		div.progress(title = title, style = 'margin-bottom: 14px;')
			div(class = barClass, style = 'width: ' + width)= content


if (monthBudgets.length || monthBills.length)
	- first = monthBudgets[0] || monthBills[0]
	div.x_panel
		div.x_title
			h2
				i.fa.fa-fw.fa-pie-chart.text-muted.title-icon
				=formatters.formatBudgetSpan(first.start_date, first.end_date)
			div.clearfix
		div.x_content
			if (monthBudgets.length)
				div.row: for b in monthBudgets
					+bar(b)

			if (monthBudgets.length && monthBills.length)
				div.hr: hr

			if (monthBills.length)
				div.row: for b in monthBills
					+bar(b)


if (yearBudgets.length || yearBills.length)
	- first = yearBudgets[0] || yearBills[0]
	div.x_panel
		div.x_title
			h2
				i.fa.fa-fw.fa-pie-chart.text-muted.title-icon
				=formatters.formatBudgetSpan(first.start_date, first.end_date)
			div.clearfix
		div.x_content
			if (yearBudgets.length)
				div.row: for b in yearBudgets
					+bar(b)

			if (yearBudgets.length && yearBills.length)
				div.hr: hr

			if (yearBills.length)
				div.row: for b in yearBills
					+bar(b)


if (taxYearBudgets.length || taxYearBills.length)
	- first = taxYearBudgets[0] || taxYearBills[0]
	div.x_panel
		div.x_title
			h2
				i.fa.fa-fw.fa-pie-chart.text-muted.title-icon
				=formatters.formatBudgetSpan(first.start_date, first.end_date)
			div.clearfix
		div.x_content
			if (taxYearBudgets.length)
				div.row: for b in taxYearBudgets
					+bar(b)

			if (taxYearBudgets.length && taxYearBills.length)
				div.hr: hr

			if (taxYearBills.length)
				div.row: for b in taxYearBills
					+bar(b)


if (otherBudgets.length || otherBills.length)
	div.x_panel
		div.x_title
			h2
				i.fa.fa-fw.fa-pie-chart.text-muted.title-icon
				| Other Periods
			div.clearfix
		div.x_content
			if (otherBudgets.length)
				div.row: for b in otherBudgets
					+bar(b, true)

			if (otherBudgets.length && otherBills.length)
				div.hr: hr

			if (otherBills.length)
				div.row: for b in otherBills
					+bar(b, true)
