div.panel.panel-default
	div.panel-heading
		i.fa.fa-fw.fa-sliders.text-muted
		|  Active Bills
	div.panel-body
		div.row
			for b in budgets
				if b.type == 'bill'
					div.col-md-6
						- ratio = b.spend/b.amount
						- barClass = ratio <= 1 ? 'progress-bar-success' : 'progress-bar-danger'
						- title = ratio == 0 ? 'Unpaid' : ratio <= 1 ? 'Paid ' + formatters.formatCurrency(b.spend) : 'Overpaid by ' + formatters.formatCurrency(b.spend - b.amount)
						p
							strong= b.name
							span &nbsp;&nbsp;
							span.text-muted.small= formatters.formatBudgetSpan(b.start_date, b.end_date)
						div.progress(title = title)
							div.progress-bar(class = barClass, style = 'width: ' + (Math.min(ratio, 1) * 100) + '%')= title
