.btn-mini {
	padding: 2px 6px;
	font-size: 11px;
	line-height: 13px;
}

ul.ui-autocomplete {
	z-index: 1100;
	border: 1px solid #cccccc;
	background: #ffffff;

	li.ui-menu-item, li.ui-menu-item:hover {
		cursor: pointer;
		list-style: none none;
		margin: 0;
		padding: 0;

		div, div:hover {
			margin: 3px 1em 3px 0.4em;
			padding: 0;
		}
	}
}

span.currency, td.currency {
	font-family: monospace;
}

i.title-icon {
	margin-right: 12px;
}

.site_title {
	font-size: 20px;
	i {
		padding: 2px 0;
	}
}

.main_menu .fa {
	margin-right: 8px;
}

.progress-bar {
	text-align: center;
	color: #ffffff;
	overflow: visible;
}

.form-control:focus {
	border-color: #66afe9;
}

.text-muted {
	color: inherit !important;
	opacity: 0.6;
}

h2 {
	float: none !important;
	
	small {
		margin: 7px 0 0 !important;
		float: right;
	}
}

h4 {
	margin-top: 0 !important;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 1px;
}

h4.gap {
	margin-top: 18px !important;
}

div.page-title {
	h3 {
		float: left;
	}

	div.extra {
		float: right;
		text-align: right;
	}
}

table.table {
	width: 99%;
}

table.non-full-width {
	width: auto !important;
}

table tfoot tr td {
	border-top: 2px solid #dddddd !important;
}

td span {
	line-height: inherit !important;
}

@media screen and (max-width: 767px) {
	.table-responsive {
		border: none !important;
	}
}

@media (max-width: 992px) {
	div.page-title {
		h3 {
			display: block;
		}

		div.extra {
			display: block;
			text-align: inherit;
			width: 100%;
			clear: both;
			margin-bottom: 12px;
		}
	}
}
