extends ../../_shared/page-layout

block page-head
	link(rel = 'stylesheet', href = '/_vendor/datatables/css/dataTables.bootstrap.min.css')
	link(rel = 'stylesheet', href = '/_vendor/datatables-fixed-header/css/fixedHeader.bootstrap.min.css')

block page-title-extra
	button#add-btn.btn.btn-success.pull-right
		i.fa.fa-fw.fa-plus
		|  Add Category

block page-body

	div.row: div.col-xs-12
		table#categories.table.table-condensed.table-hover
			thead
				tr
					th Category
					th Income
					th Expense
					th Actions

	include modal-editor

block page-scripts
	script(src = '/_vendor/datatables/js/jquery.dataTables.min.js')
	script(src = '/_vendor/datatables/js/dataTables.bootstrap.min.js')
	script(src = '/_vendor/datatables-fixed-header/js/dataTables.fixedHeader.min.js')
	script(src = '/_vendor/jquery-validation/js/jquery.validate.min.js')
	script(src = '/_shared/js/form-validation.js')
	script(src = '/settings/categories/js/categories.js')
