extends ../../_shared/page-layout

block page-title-extra
	a.btn.btn-success.pull-right(href = '/settings/categories/create')
		i.fa.fa-fw.fa-plus
		|  Create Category

block page-body

	- categories = categories || []

	div.row: div.col-lg-12
		if categories.length == 0
			div.alert.alert-danger No categories set up!
		else
			table.table.table-condensed.table-bordered.table-hover
				thead
					tr
						th Category
						th Income
						th Expense
						th Actions
				tbody
					for c in categories
						tr(id = c.id)
							td(class = c.system ? 'text-muted' : '')= c.name
							td.text-center: input(type = 'checkbox', name = c.id, value = 'in')
							td.text-center: input(type = 'checkbox', name = c.id, value = 'out')
							td.text-center
								if c.system
									span.text-muted n/a
								else
									a.label.label-warning(href = '/settings/categories/edit/' + c.id)
										i.fa.fa-fw.fa-pencil
										|  Edit

block page-scripts
	script(src = '/settings/categories/summary-control.js')
