div#accounts-modal.modal.fade(tabindex = -1)
	div.modal-dialog
		div.modal-content
			div.modal-header
				button.close(type = "button", data-dismiss = "modal" aria-label = "Close"): span(aria-hidden = "true") &times;
				h4.modal-title Select Accounts to Show

			div.modal-body
				div.checkbox-set
					- var groups = { 'current': [], 'savings': [], 'asset': [] }
					- var groupTitles = { 'current': 'Current Accounts', 'savings': 'Savings Accounts', 'asset': 'Assets' }

					for a in accounts
						- groups[a.type].push(a)

					- firstGroup = true
					for group in ['current', 'savings', 'asset']
						if (groups[group].length > 0)
							p(class = firstGroup ? 'no-margin' : 'top-margin'): strong= groupTitles[group]
							for a in groups[group]
								div.checkbox(style = 'width: 49%; display: inline-block;', class = !a.active ? 'text-muted' : ''): label
									input(type = 'checkbox', value = a.id, checked = true)
									|  #{a.name}
									if (!a.active)
										|  (inactive)

						- firstGroup = false

			div.modal-footer
				button#update-btn.btn.btn-primary
					i.fa.fa-fw.fa-check
					|  Update
