extends ../../_shared/settings-modal

block settings-body
	div.row
		div.form-group.col-xs-12.col-sm-6
			label(for = 'report_bal_history_settings_date_display_mode') Date Display Mode:
			select#report_bal_history_settings_date_display_mode.form-control.settings-input(name = 'report_bal_history_settings_date_display_mode', required = true)
				option(value = 'effective') Effective date
				option(value = 'transaction') Transaction date

		div.form-group.col-xs-12.col-sm-6
			label(for = 'report_bal_history_settings_start_at_zero') Start Chart at Zero:
			select#report_bal_history_settings_start_at_zero.form-control.settings-input(name = 'report_bal_history_settings_start_at_zero', required = true)
				option(value = 'no') No
				option(value = 'yes') Yes
