<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="uk.co.markormesher.android_fab.app">

	<application
		android:label="@string/app_name"
		android:icon="@mipmap/ic_launcher"
		android:theme="@style/global_theme"
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:supportsRtl="true"
		tools:ignore="UnusedAttribute">

		<activity
			android:name="uk.co.markormesher.android_fab.app.ClickDemoActivity"
			android:label="@string/app_name"
			android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name="uk.co.markormesher.android_fab.app.SpeedDialDemoActivity"/>

	</application>

</manifest>
