extends ../_shared/page-layout

block page-head
	link(rel = 'stylesheet', href = '/_vendor/datatables/css/dataTables.bootstrap.min.css')

block page-title-extra
	button#add-btn.btn.btn-success.pull-right
		i.fa.fa-fw.fa-plus
		|  Add Transaction

block page-body

	div.row: div.col-xs-12
		table#transactions.table.table-condensed.table-hover
			thead
				tr
					th Date
					th Account
					th Payee
					th(style = 'text-align: left !important;') Amount
					th Category
					th(width = '80px') Actions

	include modal-editor

block page-scripts
	script
		| var payees = !{JSON.stringify(payees, null, 0)}
	script(src = '/_vendor/datatables/js/jquery.dataTables.min.js')
	script(src = '/_vendor/datatables/js/dataTables.bootstrap.min.js')
	script(src = '/_vendor/jquery-validation/jquery.validate.min.js')
	script(src = '/_shared/form-validation.js')
	script(src = '/transactions/transactions.js')
