extends ../_shared/settings-modal

block settings-body
	div.row
		div.form-group.col-xs-12.col-sm-6
			label(for = 'transactions_settings_date_display_mode') Date Display Mode:
			select#transactions_settings_date_display_mode.form-control.settings-input(name = 'transactions_settings_date_display_mode', required = true)
				option(value = 'effective') Effective date
				option(value = 'transaction') Transaction date

		div.form-group.col-xs-12.col-sm-6
			label(for = 'transactions_settings_show_future_transactions') Show Future Transactions:
			select#transactions_settings_show_future_transactions.form-control.settings-input(name = 'transactions_settings_show_future_transactions', required = true)
				option(value = 'yes') Yes
				option(value = 'no') No
