extends ../../_shared/page-layout

block page-body

	- budget = budget || {}
	- budget.amount = budget.amount || 0
	- budget.categories = budget.categories || []
	- now = new Date()
	- startDate = budget.start_date || new Date(now.getFullYear(), now.getMonth(), 1)
	- endDate = budget.end_date || new Date(now.getFullYear(), now.getMonth() + 1, 0)

	form.validate(action = '/settings/budgets/edit/' + (budget.id || 0), method = 'post')
		div.row
			div.col-xs-12.col-md-6
				div.row
					div.col-xs-12.col-sm-6.form-group
						label(for = 'name') Name:
						input#name.form-control(placeholder = 'e.g. Public Transport', name = 'name', type = 'text', maxlength = 80, required = true, value = budget.name || '')

					div.col-xs-12.col-sm-6.form-group
						label(for = 'amount') Amount:
						div.input-group
							span.input-group-addon &pound;
							- prefil = budget.amount != 0 ? budget.amount.toFixed(2) : ''
							input#amount.form-control(name = 'amount', type = 'number', required = true, value = prefil, placeholder = '0.00')

				div.row
					div.col-xs-12.col-sm-6.form-group
						label(for = 'start-date') Start Date:
						input#start-date.form-control(name = 'start_date', type = 'date', value = new Date(startDate.getTime() + 12 * 60 * 60 * 1000).toJSON().slice(0, 10) || '')

					div.col-xs-12.col-sm-6.form-group
						label(for = 'end-date') End Date:
						input#end-date.form-control(name = 'end_date', type = 'date', value = new Date(endDate.getTime() + 12 * 60 * 60 * 1000).toJSON().slice(0, 10) || '')

				include quick-dates

				div.row
					div.col-lg-6
						label Type:
						div.form-group
							label.radio-inline
								input(type = 'radio', name = 'type', value = 'budget', required = true, checked = (budget.type == 'budget'))
								|  Budget
							label.radio-inline
								input(type = 'radio', name = 'type', value = 'bill', required = true, checked = (budget.type == 'bill'))
								|  Bill


			div.col-xs-12.col-md-6
				div.form-group
					label Categories:
					div.checkbox-set
						for c in categories
							div.checkbox(style = 'width: 49%; display: inline-block;'): label
								input(type = 'checkbox', name = 'categories', value = c.id, required = true, checked = (budget.categories.indexOf(c.id) >= 0))
								|  #{c.name}

		div.row
			div.col-lg-6.form-group
				button.btn.btn-success
					i.fa.fa-save
					| &nbsp;&nbsp;
					| Save


block page-scripts
	script(src = '/_vendor/jquery-validation/jquery.validate.min.js')
	script(src = '/_shared/form-validation.js')
	script(src = '/settings/budget-quick-dates.js')
