div.row
	div.col-xs-12.form-group
		a#insert-this-month(href = '#') This month
		| &nbsp;&bull;&nbsp;
		a#insert-this-year(href = '#') This year
		| &nbsp;&bull;&nbsp;
		a#insert-this-tax-year(href = '#') This tax year
		br
		a#insert-next-month(href = '#') Next month
		| &nbsp;&bull;&nbsp;
		a#insert-next-year(href = '#') Next year
		| &nbsp;&bull;&nbsp;
		a#insert-next-tax-year(href = '#') Next tax year
