.btn-mini {
	padding: 2px 6px;
	font-size: 11px;
	line-height: 13px;
}

ul.ui-autocomplete {
	z-index: 1100;
	border: 1px solid #cccccc;
	background: #ffffff;

	li.ui-menu-item, li.ui-menu-item:hover {
		cursor: pointer;
		list-style: none none;
		margin: 0;
		padding: 0;

		div, div:hover {
			margin: 3px 1em 3px 0.4em;
			padding: 0;
		}
	}
}

td.currency {
	font-family: monospace;
}

i.title-icon {
	margin-right: 12px;
}

.site_title {
	font-size: 20px;
	i {
		padding: 2px 0;
	}
}

.main_menu .fa {
	margin-right: 8px;
}

.progress-bar {
	text-align: center;
	color: #ffffff;
	overflow: visible;
}

.form-control:focus {
	border-color: #66afe9;
}
